<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LiveDirections</servlet-name>
		<servlet-class>livedirections.LiveDirectionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindAddress</servlet-name>
		<servlet-class>livedirections.FindAddressServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestGeocode</servlet-name>
		<servlet-class>test.TestGeocodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LiveDirections</servlet-name>
		<url-pattern>/livedirections</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindAddress</servlet-name>
		<url-pattern>/findaddress</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestGeocode</servlet-name>
		<url-pattern>/testgeocode</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!-- <welcome-file>index.html</welcome-file> -->
		<welcome-file>map.htm</welcome-file>
	</welcome-file-list>
</web-app>
